<div class="admin">
  <button (click)="addSong()" class="addSongs">Agregar canción</button>
  <table mat-table>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Artista</th>
      <th>Género</th>
    </tr>
    <tr *ngFor="let cancion of listaCanciones">
      <td><mat-icon>music_note</mat-icon></td>
      <td>{{ cancion.title }}</td>
      <td>{{ cancion.artist }}</td>
      <td>{{ cancion.genre }}</td>
      <td>
        <button (click)="actuzarSong(cancion)" class="botonActualizar">
          Actualizar
        </button>
      </td>
      <td>
        <button (click)="borrarCanciones(cancion)" class="botonBorrar">
          Borrar
        </button>
      </td>
    </tr>
  </table>
</div>
