<div class="admin">
    <mat-list>

        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Alicia Keys - Fallin</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <br>
        <mat-divider></mat-divider>
        <hr>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Andy Montañez -Payaso </mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Anyela- Saian supa crew</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Bad Bunny Jbalvin -La canción </mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Tangana y Rosalia - Antes de morirme</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>ChocQuibtown- Invencible</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Mala Rodriguez - Te enamoras</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Gran combo - falsaria</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Juanes -Fuego</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Shaggy-Repent</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Rosalia -Di mi nombre</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Rosalia -Dios nos libre del dinero</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Sofi Tukker- Drinkee</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Bomba Estero -To my love</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Vilma Palma- Mojada</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Vilma Palma - Verano</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Unforgettable-French Montana</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Hozier-Take me to church </mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Lady Gaga -Shallow start is born</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Lady Gaga- Million reasons</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Rihanna -Stay</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>
        <div class="cancion">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <mat-list-item>Jbalvin - Ritmo</mat-list-item>
        </div>
        <button>Actualizar</button>
        <button>Borrar</button>
        <mat-divider></mat-divider>

    </mat-list>

</div>