.addSongs {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5rem;
  color: gray;
  padding:10px;
  font-size: 16px;
  background-color: #c70d3a;
  cursor: pointer;
  font-weight: 100;
  color:white;
}
.cancion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.admin {
  padding-left: 100px;
  width: 100%;
  background-color: white;
}
:host ::ng-deep table {
  background-color: white;
  font-weight: 100;
  width:80%;
}
:host ::ng-deep td {
  height: 40px;
}
:host ::ng-deep th{
    font-weight:500;
}
.addSongs {
    margin:20px 0 50px 0;
}
:host ::ng-deep mat-icon {
    color:lightgray;
}

.botonActualizar{
  background-color: rgb(68, 158, 68);
  color: white;
  height: 27px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.botonBorrar{
  background-color: rgb(160, 14, 43);
  color: white;
  height: 27px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}