.body {
  background-image: url(../../../assets/img/portada.PNG);
  min-height:100vh;
  background-size: cover;
  background-position:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
mat-tab-group {
  border-radius: 1%;
}
.tabGroup {
  width:40vw;
  height:70vh;
  background-color:white;
}
input {
  border-radius: 1%;
  border: 1px solid lightgray;
  padding: 15px;
  width:50%;
  margin: 0 0 5px 0;
  font-family: "Roboto", sans-serif;
}
mat-tab {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
button {
  font-family: "Roboto", sans-serif;
  border:none;
  border-radius: 5%;
  height:50px;
  width:150px;
  background-color: #f0134d;
  color:white;
  font-size: 16px;
  /* test */
}
form {
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.title {
  margin-bottom: 4%;
}
.mat-tab-label 
.mat-tab-label-content {
  font-family: "Roboto", sans-serif;
}