<div class="parteSuperior">
    <audio class="barraReproductor" controls [autoplay]="true">
        <source src="" type="audio/mp3" />
    </audio>
</div>
<main class="main">
    <div class="title">
        <h1 class="sectionTitle">
            Top List
        </h1>
        <hr />
    </div>
    <div class="cancion" *ngFor="let cancion of listaCanciones" (click)="reproducir(cancion)">
        <img [src]="cancion.image" alt="" class="imgCancion" id="0" />
        <h1 class="nombre">{{ cancion.title }}</h1>
        <p class="artista">{{ cancion.artist }}</p>
    </div>

    <!--  <div class="cancion">
    <img
      src="../../../assets/img/imagencancion2.jpg"
      alt=""
      class="imgCancion"
      id="1"
    />
    <h1 class="nombre">Got To Keep On</h1>
    <p class="artista">The Chemical Brothers</p>
  </div>
  <div class="cancion">
    <img
      src="../../../assets/img/imagencancion3.jpg"
      alt=""
      class="imgCancion"
      id="2"
    />
    <h1 class="nombre">I'm Still In Love</h1>
    <p class="artista">Alton Ellis</p>
  </div>
  <div class="cancion">
    <img
      src="../../../assets/img/imagencancion4.jpg"
      alt=""
      class="imgCancion"
      id="3"
    />
    <h1 class="nombre">Technologic</h1>
    <p class="artista">Daft Punk</p>
  </div>
  <div class="cancion">
    <img
      src="../../../assets/img/imagencancion5.jpg"
      alt=""
      class="imgCancion"
      id="4"
    />
    <h1 class="nombre">Safe and Sound</h1>
    <p class="artista">Burgundy Skies</p>
  </div> -->
    -->

    <div class="tituloFavs sectionTitle">
        <h1 class="sectionTitle">Tus Favoritos</h1>
        <hr />
    </div>
    <div class="fav1" *ngFor="let cancionFavorita of listaCancionesFavoritas">
        <img [src]="cancionFavorita.image" alt="" class="imgFav" />
        <h1 class="nombre">{{ cancionFavorita.title }}</h1>
        <div class="favWrapper">
            <p class="artista">{{ cancionFavorita.artist }}</p>
            <img src="../../../assets/img/like.svg" alt="" class="favIcon" />
        </div>
    </div>

    <div class="tituloPublicidad">
        <h1>Próximos Eventos</h1>
    </div>
    <div class="aside1">
        <p class="nombreEvento">Beyond Wonderland</p>
        <button class="miBoton">COMPRAR</button>
    </div>
    <div class="aside2">
        <div class="infoEvento2">
            <p class="nombreEvento pequeño">Interpol & Franz Ferdinard</p>
        </div>
    </div>
    <div class="aside3">
        <div class="infoEvento3">
            <p class="nombreEvento pequeño">4 Latidos: Camila en Concierto</p>
        </div>
    </div>
    <!-- </main> -->
</main>