.headerP {
  background-color: #343a40;
  position: fixed;
  height: 100%;
}
.logo {
  background: #343a40;
  width: 80%;
}

.menu {
  width: 100%;
  height: 100%;
  background: #343a40;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home,
.musica,
.eventos {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #adb5bd;
  justify-content: center;
  padding: 25px;
  text-align: left;
  list-style-type: none;
}
.home:hover {
  cursor: pointer;
  transform: scale(1.2);
  text-shadow: 2px 2px 2px black;
}

.botonAgregar {
  background: #9331b4;
  text-align: center;
  font-size: 18px;
  color: #adb5bd;
  border-radius: 35px;
  margin-left: 5px;
  width: 150px;
  padding: 5px;
}
.botonAgregar:hover {
  color: white;
  cursor: pointer;
  box-shadow: 4px 6px 13px -4px #d6c2b8;
  transform: scale(1.05);
}
.infoPerfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}
.divinfoPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
