<!-- HEADER -->
<header class="headerP">
  <div class="logo">
    <img src="../../../assets/img/logo.png" height="100%" width="100%" alt="" />
  </div>
  <div class="menu">
    <li class="home">
      <img
        src="../../../assets/img/home-iconsubir.png"
        height="40px"
        width="40px"
        alt=""
      />
      Home
    </li>
    <li class="musica">
      <img
        src="../../../assets/img/music-iconsubir.png"
        height="40px"
        width="40px"
        alt=""
      />
      Mi música
    </li>
    <li class="eventos">
      <img
        src="../../../assets/img/calendar.png"
        height="40px"
        width="40px"
        alt=""
      />
      Eventos
    </li>
    <div class="boton">
      <button class="botonAgregar">Agregar música</button>
    </div>
  </div>
</header>
