.botonYoutube {
  border: none;
  background-color: #f4580b;
  border-radius: 70px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  align-self: flex-end;
  margin-right: 100px;
  box-shadow: 6px 7px 18px -3px #ca4a0a;
}
.botonYoutube a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.botonYoutube:hover {
  cursor: pointer;
  box-shadow: 6px 7px 18px -3px #e0ad93;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.slogan {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}
.navImagen {
  grid-area: nav;
  background-color: #bbb1be;
  background-image: url(../../../assets/img/home.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /*  height: 100%; */
}
.navImagen {
  grid-area: nav;
  background-color: #bbb1be;
}
.song {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}
