<div *ngIf="mostrar" class="divmostrar">
    <img src="../../../assets/img/FotoPerfil.PNG" alt="" class="imagenPerfil">
    <div class="seccionMostarInfo">
        <div class="contenedorInfo">
            <div>Nombre:</div>
            <div>Camila</div>
            <div>Edad:</div>
            <div>24</div>
            <div>Correo electronico:</div>
            <div>Camila@gmail.com</div>
        </div>
        <div class="botonActualizarInfo">Actualizar</div>
    </div>
</div>


<div *ngIf="!mostrar">CHAO</div>