<form [formGroup]="nuevaCancionForm" class="formularioAgregarCancion">
  <h1>Ingresa los datos de la nueva canción</h1>
  <input formControlName="title" type="text" placeholder="Nombre canción" />
  <input formControlName="genre" type="text" placeholder="Género" />
  <input formControlName="artist" type="text" placeholder="Artista" />
  <input formControlName="album" type="text" placeholder="Álbum" />
  <input formControlName="duration" type="text" placeholder="Duración" />
  <p>Selecciona el archivo de la canción</p>
  <input
    formControlName="file"
    type="file"
    placeholder="Archivo de la Cancion"
  />
  <p>Selecciona la imagen de la canción</p>
  <input
    formControlName="image"
    type="file"
    placeholder=" Imagen de la Cancion"
  />
  <hr>
  <button (click)="close()" class="botonAgregar">Agregar Canción</button>
</form>
