<form [formGroup]="actualizarCancionForm" class="formularioActuCancion">
  <label class="selectFile">Nombre de la canción</label>
  <input formControlName="title" type="text" [value]="tituloCancion" />
  <label class="selectFile">Género</label>
  <input formControlName="genre" type="text" [value]="genre" />
  <label class="selectFile">Artista</label>
  <input formControlName="artist" type="text" [value]="artista" />
  <label class="selectFile">Álbum</label>
  <input formControlName="album" type="text" [value]="album" />
  <button (click)="close()" class="botonGuardar">Guardar</button>
</form>
